appdirs==1.4.3
packaging==16.8
pyparsing==2.2.0
six==1.10.0
flask>=0.12.3
gunicorn==19.5.0
Jinja2
Werkzeug
wheel==0.26.0
emoji==0.5.0
MarkupSafe
PyYAML
WTForms
certifi
chardet
click
goodreads
idna
itsdangerous
nose
numpy
packaging
pip
pymongo
pyparsing
rauth
requests
setuptools
untangle
urllib3
wtf
xmltodict
