<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="applab.com.edusmartx">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CourseDetails"
            android:label="@string/title_activity_course_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditCourse"
            android:label="@string/title_activity_edit_course"
            android:theme="@style/AppTheme.NoActionBar"></activity>


        <activity
            android:name=".CourseListActivity"
            android:label="Course List"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".AssignmentSelection"
            android:label="Select Assignment"
            android:theme="@style/AppTheme.NoActionBar"></activity>




    </application>

</manifest>