<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="applab.com.edusmartx">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DataBase.CourseActivity"></activity>
        <activity android:name=".DataBase.ProfileActivity" />
        <activity android:name=".Auth.LogInActivity" />
        <activity android:name=".Auth.SignUpActivity" />
        <activity android:name=".Auth.MainActivity">




            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--Musfiq part-->


        <activity android:name=".musfiq.Classroom.MainActivity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".musfiq.Classroom.CourseDetails"
            android:label="@string/title_activity_course_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".musfiq.Classroom.EditCourse"
            android:label="@string/title_activity_edit_course"
            android:theme="@style/AppTheme.NoActionBar"></activity>


        <activity
            android:name=".musfiq.Classroom.CourseListActivity"
            android:label="Course List">
            <!--android:theme="@style/AppTheme.NoActionBar">-->
        </activity>

        <activity
            android:name=".musfiq.Classroom.AssignmentSelection"
            android:label="Select Assignment"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".musfiq.Classroom.AssignmentShow"
            android:label="Select Assignment"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".musfiq.Homepage.homeActivityOne"
            android:label="Select Assignment"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".musfiq.Homepage.homepage"
            android:label="Select Assignment"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".musfiq.AttendanceClass.AttendanceActivity"
            android:label="Select Assignment"
            android:theme="@style/AppTheme.NoActionBar"></activity>

 <activity
            android:name=".musfiq.AttendanceClass.VisitProfile"
            android:label="Select Assignment"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".musfiq.AttendanceClass.CalendarActivity"
            android:label="Select Assignment"
            android:theme="@style/AppTheme.NoActionBar"></activity>




    </application>

</manifest>