{% extends 'layout.html' %}
{% block extras %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet">
{% endblock %}
{% block body %}
  <div class="container">
	<br/><br/><br/>
	  <h1 align="center"><b>Git Stalker</b></h1>
    <div align="center"><i>Enter the github username of the person whose profile you would like to stalk<br> For any query please contact us for more details</i></div>
    <br/><br/><br/><br/>


	<div class="row">
		<div class="col s2"></div>
	    <form class="col s8" action="{{ url_for('git_profile') }}" method="post" style="padding-top: 10px;">
	      <div class="row">
	        <div class="input-field col s12">

	          <input id="icon_prefix" type="text" class="validate" name="username">
	          <label for="icon_prefix">GitHub User-name</label>
	        </div>
	      </div>
			<p align="center"><input type="submit" class="btn btn-success" value="Submit"></p>

	    </form>
	    <div class="col s2"></div>
	</div>
  </div>
{% endblock %}