{% extends 'layout.html' %}

{% block body %}
  <div class="container">
	<br/><br/><br/>
	  <h1 align="center"><b>GIT STALKER</b></h1>
    <div align="center"><i>Enter the github username of the person whose profile you would like to stalk<br> For any query please contact us for more details</i></div>
    <br/><br/><br/><br/>

	<form action="{{ url_for('git_profile') }}" method="POST">
    <div class="form-group" align="center">
		<label><b>Git Id: </b></label>
      <input size="35" id="icon_prefix" type="text" name="username" value={{request.form.username}}>
    	<label for="icon_prefix"></label>

	</div>
    	<div align="center"><button type="submit" class="btn btn-success">Submit</button></div>
  	</form>

  </div>
{% endblock %}