{% extends 'layout.html' %}

{% block body %}
    <br/>
    <form method="post" action="{{url_for('upload_file', id=classes['_id'])}}" enctype="multipart/form-data" align="center">
            <div class="form-group">
                <label for="inputfile"> <h5> Add New </h5></label>
                <input type="file" name="inputfile">
            </div>
            <button type="submit" class="btn btn-success">Turn In</button>
    </form>
    <br/>
    <h1>Projects</h1>
    <hr>
    <table class="table table-striped">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
    {% for project in projects %}
      <tr>
        <td>{{project['title']}}</td>
        <td>{{project['author']}}</td>
        <td>{{project['date']}}</td>
        <td><a class="btn btn-success pull-right">Download</a></td>
      </tr>
    {% endfor %}
    </table>
{% endblock %}